@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	font-family: "Roboto";
	color: #78c2ff;
	background-color: #ffffff;
}

.navbar {
	padding: 20px;
	display: grid;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid #fa19e4;
}

.navbar div {
	display: flex;
}

.navbar div .link {
	width: 100%;
	margin-top: 40px;
}
.navbar .logo {
	width: 70px;
}
.navbar h1 {
	color: #78c2ff;
}

.navbar .links {
	margin-left: auto;
}

.navbar a {
	margin-left: 16px;
	text-decoration: none;
	padding: 6px;
}

.navbar a:hover {
	color: #ff0000;
}

.home {
	display: grid;
	height: auto;
	padding: 2px;
	margin: 2px;
}
.home section {
	max-width: 100%;
	background-color: #3750de;
	margin: 1px solid black;
	height: 200px;
	padding-left: 10px;
	padding-right: 10px;
	padding: 10px;
	margin: 10px;
}
.home p {
	background-color: #3750de;
}
.home .reviews {
	display: flex;
	justify-content: space-between ;
}
.home .reviews p {
	width: 60%;
}
.home .review img {
	width: 60%;
	margin-right: 0;
	padding-right: 0;
}

.review-list {
	padding: 5px;
	display:grid;
	height: auto;
	grid-template-columns: 1fr 1fr;
}
.review-card {
	display: flex;
	height: 100px;
	width: 400px;
	background-color: #3750de;
	margin-bottom: 5px
}

.review-card p {
	background-color: #3750de;
	width: 200px;
	
}

.review-card img {
	width: 200px;
}
.review-card:hover {
	background-color: #7180d5;
}

.comment-section {
	background-color: #0c8af1;
	border: 1px solid black;
}



@media screen and (max-width: 800px) {
.navbar {
	display: grid;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.navbar h1 {
	padding: 10px;
	text-align: center;

}
.navbar div {
	display: flex;
	padding-left: 10px;
	
}
.navbar .link {
	padding-bottom: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 20%;
	width: 100%;
}
.navbar .logo {
	width: 50px;
}
.home {
	display: grid;
	height: auto;
	padding: 2px;
	margin: 2px;
}
.home section {
	max-width: 100%;
	background-color: #3750de;
	margin: 1px solid black;
	height: 200px;
	padding-left: 10px;
	padding-right: 10px;
	padding: 10px;
	margin: 10px;
}
.home p {
	background-color: #3750de;
}
.home .reviews {
	display: flex;
}
.home .reviews p {
	width: 60%;
}
.home .review img {
	width: 40%;
}

.logo {
	max-width: 50px;
	display: grid;
	margin: 0px;
	padding: 0px;
}

}
